<%= content_tag :head do %> <script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript" charset="utf-8"></script>  
<script type="text/javascript" charset="utf-8">
var apiKey = <%= OpenTok::API_KEY %>;
var sessionId = '<%= @lesson.session_id %>';
var token = '<%= @token %>';
var scheduleId = '<%= @lesson.id %>';
var path = '<%= teacher_broadcasts_path %>';
</script>
<%= javascript_include_tag 'opentok_teacher' %>
<%= render :partial => 'messages/refresh_js'%>

<% end %>

<div id="bcast_class">
	<a href="javascript:void(0);" onclick="$('#schedule').slideToggle()" id="sch"><div class="bcast_fullcalendar_button"></div> </a>
</div>
<div id="schedule" class="bcast_class_content" <%if @is_course_time %> style="display:block"<%end%>>
	<%= render :partial => 'user/schedules/t_schedule' %>
</div>

<div class="content_left_a">
	<h1 class="headline_h1"><%= t(:teacher_ppt)%></h1>
	<div class="left_boder" style="margin:0;">
		<div class="span-12 last">
			<%= render :partial => "admin/slides/swf", :locals => {:slide => @slide, :width => 400, :height => 300} %>
		</div>
		<div>
			<%= render :partial => "clock"%>
		</div>
	
	</div>
	<script>
	window.onload=function(){
		$('#schedule').slideToggle();
	}
	</script>
	<div class="headline_bottom_bcast"></div>
	<div id="student_list">
	</div>
</div><!--left-->
<% if not @slide.nil?%>
<%= render :partial => 'messages/teacher_form'%>
<% end%>