      <div style="float:left; width:570px; margin-bottom:20px;">       
                <div  class="requirements_system">
                 <h1><%= t(:teachcast_system_requirements)%></h1>
  				 <h2><%= t(:requirements_for_using_system)%></h2>
                    <h3><%= t(:approved_browser)%> </h3>
                        <p><a href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html" target="_blank"><%= t(:chrome)%></a></p>
                        <p><a href="http://www.mozilla.org/" target="_blank"><%= t(:firefox)%></a></p>
                        <p><a href="http://www.apple.com/safari/" target="_blank"><%= t(:safari)%></a></p>
                    	
                        <p><%= t(:IE)%></p>
          </div>
                                      
             <div class="requirements_system">
  				 <h2><%= t(:internet_speed_requirement)%></h2>
                        <p><%= t(:connection_speeds)%></p>
                        <p><%= t(:speed_test)%> <a href="http://www.eleutian.com/speedtest/" target="_blank">http://www.eleutian.com/speedtest/</a></p>
          </div>           
                
                  <div class="requirements_system">
  				 <h2><%= t(:flash_requirement)%></h2>
                        <p><%= t(:flash_version)%> <a href="http://get.adobe.com/cn/flashplayer/otherversions/" target="_blank">here</a></p>

          </div>
               
                   <div class="requirements_system">
  				 <h2><%= t(:windows_users)%> </h2>
                 <h3><%= t(:supported_platforms)%> <%= t(:windows_system)%></h3>
                        <p><%= t(:cpu_requirement)%></p>
                        <p><%= t(:ram_requirement)%></p>
                        <p><%= t(:graphics_requirement)%></p>

                 <h3><%= t(:min_windows_requirment)%> </h3>
                        <p><%= t(:min_ram_requirement)%></p>
                        <p><%= t(:min_graphics_requirement)%></p>
                        
                   <h3><%= t(:recommended_windows_requirment)%>  </h3>
                        <p><%= t(:recommended_cpu_requirement)%></p>
                        <p><%= t(:recommended_ram_requirement)%></p>
                        <p><%= t(:recommended_graphics_requirement)%></p>
                        
                                              
         		</div>   
                
                    <div class="requirements_system">
  				 <h2><%= t(:mac_users)%></h2>
                 <h3><%= t(:supported_platforms)%> <%= t(:mac_system)%></h3>
                        <p><%= t(:mac_cpu_requirement)%></p>
                        <p><%= t(:mac_ram_requirement)%></p>
                        <p><%= t(:mac_graphics_requirement)%></p>

                 <h3><%= t(:min_mac_requirment)%></h3>
                        <p><%= t(:min_mac_cpu_requirement)%></p>
                        
                   <h3><%= t(:recommended_mac_requirment)%> </h3>
						<p><%= t(:recommended_mac_cpu_requirement)%></p>
                   		<p><%= t(:recommended_mac_ram_requirement)%></p>
                   		<p><%= t(:recommended_mac_graphics_requirement)%></p>
                        
	</div> 
    </div>
    
    <div class="requirements_question">
    <h1><%= t(:question)%></h1>
     <div class="all_queston">

    				<h2><%= t(:how_to_use_tc)%></h2>
                    <p><%= t(:downdoad_instructions)%> <a href="/el_studycenter/download/file?filename=Welcome to the TeachCAST system.pdf" target="_blank">English</a></p>
                    <p>使用说明下载 <a href="/el_studycenter/download/file?filename=Teachcast使用说明书.pdf" target="_blank">中文版</a></p>
          </div>
    	 <div class="all_queston">
   				<h2><%= t(:question_1)%></h2>
                    <p><%= t(:answer_1)%> <a href="http://www.eleutian.com/speedtest/" target="_blank">http://www.eleutian.com/speedtest/</a> </p>
          </div>
         
      <div class="all_queston">

   				<h2><%= t(:question_2)%></h2>
                    <p><%= t(:answer_2)%></p>
          </div>

      <div class="all_queston">

   				<h2><%= t(:question_3)%></h2>
                    <p><%= t(:answer_3)%></p>
          </div>
		
	  <div class="all_queston">

	   			<h2><%= t(:question_4)%></h2>
	                <p><%= t(:answer_4_1).html_safe%></p>
					<p><%= t(:answer_4_2)%></p>
	      </div>

      <div class="all_queston">

   				<h2><%= t(:question_5)%></h2>
                    <p><%= t(:answer_5)%></p>
          </div>
          
                              
    </div>               