<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Cambridge International</title>
<%= stylesheet_link_tag 'el_base', 'el_lc', 'el_speakeng' ,'el_en'%>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'el/form_validate'%> 
<%= csrf_meta_tag %>
</head>
  <body onLoad="ajaxLoad();">
	<div id="container">
      <div class="header_wrap"><!--head-->
        <div class="header_main">
         <div class="logo"><a href="/el_studycenter/signin"> <img src="/el_studycenter/images/el/eleutianlogo.png"/></a></div><!--logo-->

         <div id="login_top_nav">
                       <a href="/el_studycenter/requirements">System Requirements</a>         
                       
         </div><!--top nav-->
                   
         <p class="login_head">Welcome to Teach<span class="clour_blue_bold">C</span><span class="clour_black">ast</span></p>
         
	 <div class="language"> <select name="select"  onchange="top.location.href=this.options[this.selectedIndex].value"> 
			<% if params[:controller] == 'user/profiles' then @page='signup'; else @page='signin';end %>
			<OPTION value='/el_studycenter/<%= @page %>/en' <%= 'selected' if I18n.locale.to_s == "en"%>>English</OPTION>
			<OPTION value='/el_studycenter/<%= @page %>/zh' <%= 'selected' if I18n.locale.to_s == "zh"%>>中文</OPTION>
			<OPTION value='/el_studycenter/<%= @page %>/ko' <%= 'selected' if I18n.locale.to_s == "ko"%>>한국어</OPTION> 
			<OPTION value='/el_studycenter/<%= @page %>/pt' <%= 'selected' if I18n.locale.to_s == "pt"%>>Português</OPTION> 
			<OPTION value='/el_studycenter/<%= @page %>/es' <%= 'selected' if I18n.locale.to_s == "es"%>>español</OPTION> 
			
		
			</SELECT> 
 </div>
 	 
      </div><!--head-->
	</div>

    <div class="main">	

      <div class="content group">
			<%= yield %>
      </div>

    </div>


    <!--footer-->
    <div class="footer_warp">
      <div class="footer_main">
        <ul class="f_ul">
                <li class="f_li">
                  <a href="http://www.eleutian.com" target="_blank"><%=t(:about_us)%></a>
                </li>
                 <!--li class="f_li">
                  <a href="/el_studycenter/contact" target="_blank"><%=t(:teachers)%></a>
                /li-->
                <!--li class="f_li">
                  <a href="/el_studycenter/contact" target="_blank"><%=t(:individuals)%></a>
                </li-->
                <!--li class="f_li">
                  <a href="/el_studycenter/contact" target="_blank"><%=t(:group)%></a>
                </li-->
                <!--li class="f_li">
                  <a href="/el_studycenter/contact" target="_blank"><%=t(:assessment)%></a>
                </li-->
		  <li class="f_li">
          COPYRIGHT © 2014-2020 DENNY LI<%=t(:right_reserved)%>。
          </li>
        </ul>
       <div class="footer_logo"></div>
      </div>
    </div>



  </body>
</html>